.track-result, #yes-on-websites, #please-answer, #result-message {
  display: none;
}

.btn-custom {

}

#yes-on-websites {
  background-color: lightgreen;
}

.red-text {
  color: red;
}

.panel-success {
  margin-top: 2vh;
  background-color: lightgray;
}

.panel-success h2 {
  margin: 2vmax;
}

h1 {
  text-align: center;
}
